.tmg-video-container.tmg-video-settings-view .tmg-video-container-content-wrapper {
  transform: rotateY(180deg);
}
.tmg-video-container.tmg-video-settings-view .tmg-video-settings {
  opacity: 1;
  pointer-events: all;
}
.tmg-video-container.tmg-video-settings-view .tmg-video-container-content .tmg-video {
  filter: brightness(var(--cmptd-brightness)) blur(10px);
}
.tmg-video-container.tmg-video-settings-view .tmg-video-settings-btn svg {
  transform: rotate(30deg);
}
.tmg-video-container-content-wrapper,
.tmg-video-container-content,
.tmg-video-settings {
  position: relative;
  max-width: inherit;
  max-height: inherit;
  min-width: inherit;
  min-height: inherit;
  border-radius: inherit;
}
.tmg-video-container-content-wrapper {
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
  transition: transform var(--tmg-video-settings-view-transition-time) var(--tmg-video-bounce-timing);
}
.tmg-video-container-content,
.tmg-video-settings {
  width: 100%;
  height: 100%;
  transform-style: inherit;
  transition: inherit;
  overflow: hidden;
}
.tmg-video-container-content {
  display: flex;
  justify-content: center;
  background: var(--tmg-video-background);
  cursor: none;
}
.tmg-video-settings {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--tmg-video-settings-background-color);
  transform: rotateY(180deg);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--tmg-video-settings-view-transition-time) var(--tmg-video-bounce-timing);
}
.tmg-video-settings-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--tmg-video-settings-content-padding);
  color: var(--tmg-video-settings-text-color);
  border-radius: inherit;
}
.tmg-video-settings-content > div {
  display: flex;
}
.tmg-video-settings-top-panel {
  padding-block-end: var(--tmg-video-settings-content-padding);
  border-bottom: 1px solid var(--tmg-video-settings-border-color);
}
.tmg-video-settings-close-btn {
  display: flex;
  align-items: center;
  gap: calc(var(--tmg-video-current-unit) / 7.5);
  height: calc(var(--tmg-video-current-unit) / 1.25);
  font-size: calc(var(--tmg-video-current-unit) / 1.35);
}
.tmg-video-settings-bottom-panel {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  color: var(--tmg-video-brand-accent-color);
  font-size: calc(var(--tmg-video-current-unit));
  text-align: center;
}
