.tmg-video-captions-container {
  --f-f: var(--cmptd-cue-font-factor);
  display: none;
  position: absolute;
  bottom: clamp(calc(var(--tmg-video-current-captions-container-height) / 2), var(--tmg-video-current-captions-y), calc(100% - (var(--tmg-video-current-captions-container-height) / 2)));
  left: clamp(calc(var(--tmg-video-current-captions-container-width) / 2), var(--tmg-video-current-captions-x), calc(100% - (var(--tmg-video-current-captions-container-width) / 2)));
  translate: -50% 50%;
  max-height: calc(100% - 0.5em);
  padding: 0.25rem 1em;
  font-size: calc(var(--tmg-video-captions-font-size-base) * var(--f-f));
  overflow-y: auto;
  background: rgb(from var(--tmg-video-captions-window-color) r g b / var(--tmg-video-captions-window-opacity));
  touch-action: none;
  will-change: left, bottom;
  transition: var(--tmg-video-motion-transition);
}
.tmg-video-container:where(.tmg-video-captions, .tmg-video-captions-preview) .tmg-video-captions-container:not(:empty, :has(> :empty)) {
  display: block;
}
.tmg-video-container:not(.tmg-video-captions-dragging, .tmg-video-mobile) {
  --tmg-video-current-captions-offset-top: var(--tmg-video-current-safe-inset-top);
  --tmg-video-current-captions-offset-bottom: var(--tmg-video-current-safe-inset-bottom);
}
.tmg-video-container.tmg-video-locked:is(.tmg-video-locked-overlay, :has(:focus-visible)) {
  --tmg-video-current-captions-offset-bottom: calc(var(--tmg-video-current-unit) * 5);
}
.tmg-video-container:is(.tmg-video-overlay, :has(:focus-visible)):not(.tmg-video-captions-dragging, .tmg-video-mobile) .tmg-video-captions-container,
.tmg-video-container.tmg-video-locked:is(.tmg-video-locked-overlay, :has(:focus-visible)) .tmg-video-captions-container {
  bottom: clamp(var(--tmg-video-current-captions-offset-bottom) + calc(var(--tmg-video-current-captions-container-height) / 2), var(--tmg-video-current-captions-y), calc(100% - (var(--tmg-video-current-captions-offset-top) + (var(--tmg-video-current-captions-container-height) / 2))));
  max-height: calc(100% - (var(--tmg-video-current-captions-offset-top) + var(--tmg-video-current-captions-offset-bottom)));
}
.tmg-video-captions-text {
  display: inline-block;
  color: rgb(from var(--tmg-video-captions-font-color) r g b / var(--tmg-video-captions-font-opacity));
  font-family: var(--tmg-video-captions-font-family);
  font-weight: var(--tmg-video-captions-font-weight);
  font-variant: var(--tmg-video-captions-font-variant);
  white-space: nowrap;
  padding: 2.5px;
  background: rgb(from var(--tmg-video-captions-background-color) r g b / var(--tmg-video-captions-background-opacity));
}
.tmg-video-captions-text-alignment-left {
  text-align: left;
}
.tmg-video-captions-text-alignment-center {
  text-align: center;
}
.tmg-video-captions-text-alignment-right {
  text-align: right;
}
.tmg-video-captions-character-edge-style-drop-shadow {
  text-shadow:
    calc(1px * var(--f-f)) calc(1px * var(--f-f)) calc(1.5px * var(--f-f)) rgb(34, 34, 34),
    calc(1px * var(--f-f)) calc(1px * var(--f-f)) calc(2px * var(--f-f)) rgb(34, 34, 34),
    calc(1px * var(--f-f)) calc(1px * var(--f-f)) calc(2.5px * var(--f-f)) rgb(34, 34, 34);
}
.tmg-video-captions-character-edge-style-raised {
  text-shadow: calc(1px * var(--f-f)) calc(1px * var(--f-f)) rgb(34, 34, 34);
}
.tmg-video-captions-character-edge-style-depressed {
  text-shadow:
    calc(1px * var(--f-f)) calc(1px * var(--f-f)) rgb(204, 204, 204),
    calc(-1px * var(--f-f)) calc(-1px * var(--f-f)) rgb(34, 34, 34);
}
.tmg-video-captions-character-edge-style-outline {
  --s-s: 0 0 calc(1px * var(--f-f)) rgb(34, 34, 34); /* shadow-step */
  text-shadow: var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s); /* just had to, 21! :) */
}
.tmg-video-captions-container [data-part="timed"][data-future] {
  opacity: 0.5;
}
