.tmg-media-picture-in-picture-placeholder {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: calc(var(--tmg-media-current-unit) / 2);
  background: var(--tmg-media-background);
  border-radius: inherit;
}
.tmg-media-picture-in-picture-placeholder::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: var(--tmg-media-current-poster-url) center / var(--tmg-media-bg-safe-object-fit) no-repeat;
  filter: blur(4px) brightness(0.5);
}
.tmg-media-container.tmg-media-picture-in-picture .tmg-media-picture-in-picture-placeholder,
body:not(:has(.tmg-media-container.tmg-media-miniplayer)) .tmg-pseudo-media-container .tmg-media-picture-in-picture-placeholder {
  display: flex;
}
.tmg-media-picture-in-picture-icon-wrapper {
  width: fit-content;
  max-width: 25%;
  display: flex;
  cursor: pointer;
}
.tmg-media-picture-in-picture-icon-wrapper .tmg-media-picture-in-picture-icon {
  width: calc(var(--tmg-media-current-unit) * 3);
  height: calc(var(--tmg-media-current-unit) * 3);
}
.tmg-media-pip-icon-background {
  color: var(--tmg-media-theme-color);
  stroke: var(--tmg-media-theme-inverse-accent-color);
}
.tmg-media-pip-icon-content-background {
  color: var(--tmg-media-theme-inverse-color);
}
.tmg-media-pip-icon-content {
  color: var(--tmg-media-brand-color);
}
.tmg-media-pip-icon-content-backdrop {
  color: var(--tmg-media-theme-accent-color);
}
.tmg-media-pip-icon-timeline-progress {
  color: var(--tmg-media-brand-color);
}
.tmg-media-pip-icon-timeline-base {
  color: var(--tmg-media-theme-inverse-accent-color);
}
.tmg-media-pip-icon-seek-thumb {
  color: var(--tmg-media-brand-color);
}
.tmg-media-picture-in-picture-placeholder p {
  text-align: center;
  font-size: calc(var(--tmg-media-current-unit) / 1.5);
  font-weight: 500;
}
