.tmg-slider {
  transform-origin: inset-inline-start inset-block-end; 
}

.tmg-value-bar, .tmg-thumb {
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 0;
  transform-origin: inherit; 
}
