.tmg-video-timeline,
.tmg-video-container input[type="range"] {
  height: var(--tmg-video-range-slider-height);
}
.tmg-video-timeline-container,
.tmg-video-seek-bars-wrapper,
.tmg-video-container input[type="range"] {
  border-radius: calc(var(--tmg-video-range-slider-height) / 2);
}
.tmg-video-container input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
}
.tmg-video-container input::-webkit-slider-runnable-track,
.tmg-video-container input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  transition: box-shadow var(--tmg-video-switch-transition-time) var(--tmg-video-bounce-timing);
}
.tmg-video-container input:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 calc(var(--tmg-video-current-unit) / 10) var(--tmg-video-ripple-color);
}
.tmg-video-container input::-moz-range-track,
.tmg-video-container input::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  transition: box-shadow var(--tmg-video-switch-transition-time) var(--tmg-video-bounce-timing);
}
.tmg-video-container input:active::-moz-slider-thumb {
  box-shadow: 0 0 0 calc(var(--tmg-video-current-unit) / 10) var(--tmg-video-ripple-color);
}