.tmg-video-curtain,
.tmg-video-top-controls-wrapper,
.tmg-video-big-controls-wrapper,
.tmg-video-bottom-controls-wrapper > * {
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--tmg-video-fade-transition-time) ease;
}
.tmg-video-container:is(.tmg-video-overlay, :has(:focus-visible)) :is(.tmg-video-top-controls-wrapper, .tmg-video-big-controls-wrapper, .tmg-video-bottom-controls-wrapper > *) {
  opacity: 1;
  pointer-events: all;
}
.tmg-video-container:not(.tmg-video-overlay, :has(:focus-visible)) .tmg-video-bottom-controls-wrapper {
  pointer-events: none;
}
.tmg-video-container:is(.tmg-video-overlay, :has(:focus-visible)) .tmg-video-curtain,
.tmg-video-container:has(.tmg-video-playback-rate-notifier.tmg-video-control-active) .tmg-video-bottom-curtain {
  opacity: 1;
}
.tmg-video-container:is(:is(.tmg-video-miniplayer, .tmg-video-mobile):is(.tmg-video-scrubbing, :has(.tmg-video-notifier.tmg-video-control-persist)), :has(:is(.tmg-video-playback-rate-notifier, .tmg-video-touch-vb-notifier).tmg-video-control-active)) :is(.tmg-video-top-curtain, .tmg-video-bottom-curtain, .tmg-video-top-controls-wrapper, .tmg-video-big-controls-wrapper, .tmg-video-bottom-controls-wrapper *:not(:has(.tmg-video-timeline-container), .tmg-video-timeline-container, .tmg-video-timeline-container *)),
.tmg-video-container:has(.tmg-video-touch-vb-notifier.tmg-video-control-active) :is(.tmg-video-bottom-curtain, .tmg-video-timeline-container) {
  opacity: 0;
  pointer-events: none;
}