:where(.tmg-media) {
  aspect-ratio: var(--tmg-video-aspect-ratio);
  border-radius: inherit;
  width: 90dvw;
  max-width: 700px;
  max-height: 80lvh;
}
:where(.tmg-media-container.tmg-video-mobile .tmg-media) {
  width: 100%;
  max-width: unset;
}
.tmg-media {
  object-fit: var(--tmg-video-object-fit);
  will-change: filter;
}
.tmg-pseudo-video {
  visibility: hidden;
}
.tmg-video,
.tmg-video-thumbnail {
  filter: brightness(var(--cmptd-brightness));
}
:is(*:not(body):has(.tmg-media-container:is(.tmg-video-fullscreen, .tmg-video-theater)), #o#o#o#o#o) {
  flex: 0 0 100%;
  grid-column: 1 / -1;
  width: 100%;
  max-width: unset;
  max-height: unset;
}
.tmg-media-container.tmg-video-theater .tmg-media {
  width: 100%;
  max-width: unset;
  max-height: 80lvh;
}
.tmg-media-container.tmg-video-fullscreen .tmg-media {
  width: 100%;
  height: 100%;
  max-width: unset;
  max-height: unset;
}
.tmg-media-container.tmg-video-miniplayer .tmg-media {
  width: auto;
  height: auto;
  min-height: 150px;
  min-width: 170px;
  max-height: 35dvh;
  max-width: min(50dvw, 400px);
  aspect-ratio: var(--tmg-video-aspect-ratio);
}
.tmg-media-container.tmg-video-floating-player .tmg-media {
  width: 100%;
  height: 100%;
  max-width: unset;
  max-height: 100dvh;
  min-height: unset;
  min-width: unset;
}
.tmg-video-container:not(:has(.tmg-video-vb-slider:active, .tmg-video-touch-vb-notifier.tmg-video-control-active)) .tmg-video {
  transition: filter var(--tmg-video-settings-view-transition-time) ease; /* does not interfere with brightness slider */
}
