.tmg-video-notifiers-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  pointer-events: none;
}
.tmg-video-notifier {
  position: absolute;
  display: flex;
  color: var(--tmg-video-text-color);
  white-space: nowrap;
  opacity: 0;
  animation-duration: var(--tmg-video-notifiers-animation-time);
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.tmg-video-notifier svg {
  animation: inherit;
  opacity: 1;
}
[data-notify="videoplay"] .tmg-video-play-notifier,
[data-notify="videopause"] .tmg-video-pause-notifier,
[data-notify="videoprev"] .tmg-video-prev-notifier,
[data-notify="videonext"] .tmg-video-next-notifier,
[data-notify="playbackrateup"] .tmg-video-playback-rate-up-notifier,
[data-notify="playbackratedown"] .tmg-video-playback-rate-down-notifier,
[data-notify="volumeup"] .tmg-video-volume-up-notifier,
[data-notify="volumedown"] .tmg-video-volume-down-notifier,
[data-notify="volumemuted"] .tmg-video-volume-muted-notifier,
[data-notify="brightnessup"] .tmg-video-brightness-up-notifier,
[data-notify="brightnessdown"] .tmg-video-brightness-down-notifier,
[data-notify="brightnessdark"] .tmg-video-brightness-dark-notifier,
[data-notify="objectfitcontain"] .tmg-video-object-fit-contain-notifier,
[data-notify="objectfitcover"] .tmg-video-object-fit-cover-notifier,
[data-notify="objectfitfill"] .tmg-video-object-fit-fill-notifier,
[data-notify="capture"] .tmg-video-capture-notifier,
[data-notify="captions"] .tmg-video-captions-notifier,
[data-notify="theater"] .tmg-video-theater-notifier,
[data-notify="fullScreen"] .tmg-video-fullscreen-notifier {
  animation-name: tmg-show, tmg-scale-up;
}
:is([data-notify="playbackrateup"], [data-notify="playbackratedown"]) .tmg-video-playback-rate-notifier-content,
:is([data-notify="volumeup"], [data-notify="volumedown"]) .tmg-video-volume-notifier-content,
:is([data-notify="brightnessup"], [data-notify="brightnessdown"]) .tmg-video-brightness-notifier-content,
[data-notify^="objectfit"] .tmg-video-object-fit-notifier-content {
  animation-name: tmg-show-alt;
}
[data-notify="fwd"] .tmg-video-fwd-notifier,
[data-notify="bwd"] .tmg-video-bwd-notifier,
.tmg-video-notifier.tmg-video-control-persist {
  animation-name: tmg-stay-shown;
}
.tmg-video-container:is(.tmg-video-replay, .tmg-video-miniplayer, .tmg-video-floating-player, .tmg-video-mobile) :is(.tmg-video-play-notifier, .tmg-video-pause-notifier),
.tmg-video-notifiers-container:has(.tmg-video-cancel-scrub-notifier.tmg-video-control-active) .tmg-video-scrub-notifier {
  display: none;
}
.tmg-video-playback-rate-notifier-content,
.tmg-video-volume-notifier-content,
.tmg-video-brightness-notifier-content,
.tmg-video-object-fit-notifier-content {
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 10%;
  padding: calc(var(--tmg-video-current-unit) / 4) calc(var(--tmg-video-current-unit) / 2);
  border-radius: calc(var(--tmg-video-current-unit) / 10);
}
.tmg-video-notifiers-container :is(.tmg-video-playback-rate-notifier, .tmg-video-touch-timeline-notifier, .tmg-video-touch-vb-notifier, .tmg-video-scrub-notifier, .tmg-video-cancel-scrub-notifier).tmg-video-control-active {
  opacity: 1;
}
.tmg-video-playback-rate-notifier,
.tmg-video-scrub-notifier,
.tmg-video-cancel-scrub-notifier,
.tmg-video-touch-timeline-notifier {
  width: fit-content;
  height: fit-content;
  min-height: calc(var(--tmg-video-current-unit) * 0.8);
  padding: calc(var(--tmg-video-current-unit) / 7.5) calc(var(--tmg-video-current-unit) / 2.5);
  font-weight: 700;
  border-radius: var(--tmg-video-current-unit);
}
.tmg-media-container:is([data-size-tier^="xx"], .tmg-video-mobile) :is(.tmg-video-playback-rate-notifier, .tmg-video-scrub-notifier, .tmg-video-cancel-scrub-notifier, .tmg-video-touch-timeline-notifier) {
  min-height: calc(var(--tmg-video-current-unit) * 1.25);
}
.tmg-video-playback-rate-notifier,
.tmg-video-scrub-notifier,
.tmg-video-cancel-scrub-notifier {
  top: min(5%, var(--tmg-video-current-unit));
  min-width: calc(var(--tmg-video-current-unit) * 1.3);
}
.tmg-video-playback-rate-notifier:not(.tmg-video-rewind)::before,
.tmg-video-playback-rate-notifier.tmg-video-rewind::after {
  content: attr(data-current-time);
  display: none;
  font-weight: normal;
}
.tmg-video-playback-rate-notifier:not(.tmg-video-rewind)::before {
  display: block;
  margin-inline-end: calc(var(--tmg-video-current-unit) / 3.5);
}
.tmg-video-playback-rate-notifier.tmg-video-rewind::after {
  display: block;
  margin-inline-start: calc(var(--tmg-video-current-unit) / 3.5);
}
.tmg-video-playback-rate-notifier svg {
  display: none;
  height: calc(var(--tmg-video-current-unit) / 3.25);
}
.tmg-video-playback-rate-notifier.tmg-video-rewind svg:nth-of-type(1) {
  display: block;
  margin-inline-end: calc(var(--tmg-video-current-unit) / 5);
}
.tmg-video-playback-rate-notifier:not(.tmg-video-rewind) svg:nth-of-type(2) {
  display: block;
  margin-inline-start: calc(var(--tmg-video-current-unit) / 5);
}
.tmg-video-scrub-notifier {
  max-width: 95%;
  gap: calc(var(--tmg-video-current-unit) / 2.75);
  padding-block: calc(var(--tmg-video-current-unit) / 6);
  white-space: normal;
  line-height: 1.3;
}
.tmg-media-container:is([data-size-tier^="xx"], .tmg-video-mobile) .tmg-video-scrub-notifier {
  padding-block: calc(var(--tmg-video-current-unit) / 4.5);
}
.tmg-video-scrub-notifier span {
  height: calc(var(--tmg-video-current-unit) / 2.5);
  display: flex;
  align-items: center;
}
:is(.tmg-video-playback-rate-notifier, .tmg-video-scrub-notifier) svg {
  width: calc(var(--tmg-video-current-unit) / 3.25);
  scale: 1.75;
}
.tmg-media-container:is([data-size-tier^="xx"], .tmg-video-mobile) :is(.tmg-video-playback-rate-notifier, .tmg-video-scrub-notifier) svg {
  width: calc(var(--tmg-video-current-unit) / 2.25);
}
.tmg-video-touch-vb-notifier {
  background-color: transparent;
  height: min(var(--tmg-video-max-touch-slider-height), var(--tmg-video-current-touch-slider-height));
  width: calc(var(--tmg-video-current-unit) / 2.75);
  flex-direction: column;
  gap: calc(var(--tmg-video-current-unit) / 2.5);
}
.tmg-video-touch-vb-notifier:not(.tmg-video-control-active) {
  transition: opacity var(--tmg-video-fade-transition-time) ease;
}
.tmg-video-touch-volume-notifier {
  left: 15%;
}
.tmg-video-touch-brightness-notifier {
  right: 15%;
}
.tmg-video-touch-vb-slider {
  --tmg-video-current-slider-gradient-dir: to top;
  flex-grow: 1;
  width: 100%;
  border-radius: calc(var(--tmg-video-current-unit) / 5.5);
}
.tmg-video-fwd-notifier,
.tmg-video-bwd-notifier {
  align-items: start;
  transform: scale(var(--tmg-video-large-scale));
}
.tmg-video-fwd-notifier {
  right: 15%;
}
.tmg-video-bwd-notifier {
  left: 15%;
}
:is(.tmg-video-fwd-notifier, .tmg-video-bwd-notifier)::after {
  content: attr(data-skip) " seconds";
  position: absolute;
  bottom: 20%;
}
:is(.tmg-video-fwd-notifier, .tmg-video-bwd-notifier):is([data-skip="1"], [data-skip="-1"], [data-skip="0"], [data-skip="1"], [data-skip="-1"])::after {
  content: attr(data-skip) " second";
}
.tmg-media-container:is(.tmg-video-miniplayer, .tmg-video-floating-player, .tmg-video-mobile, [data-size-tier^="xx"]) :is(.tmg-video-fwd-notifier, .tmg-video-bwd-notifier)::after {
  content: attr(data-skip);
  width: calc(var(--tmg-video-current-unit) * 1.25);
  text-align: center;
}
:is(.tmg-video-fwd-notifier, .tmg-video-bwd-notifier) svg {
  width: calc(var(--tmg-video-current-unit) / 2.25);
  margin-block-start: 20%;
}
:is(.tmg-video-fwd-notifier, .tmg-video-bwd-notifier, .tmg-video-scrub-notifier) svg {
  opacity: 0.25;
  animation-iteration-count: infinite;
  animation-duration: var(--tmg-video-notifiers-animation-time);
}
.tmg-video-scrub-notifier svg {
  animation-duration: calc(var(--tmg-video-notifiers-animation-time) / 1.5);
}
.tmg-video-notifier.tmg-video-control-persist {
  background-color: var(--tmg-video-dbc-backdrop-color);
  width: var(--tmg-video-dbc-backdrop-width);
  height: var(--tmg-video-dbc-backdrop-height);
  padding-inline: 10%;
  display: flex;
  align-items: center;
}
.tmg-video-notifiers-container .tmg-video-fwd-notifier.tmg-video-control-persist {
  right: -50%;
  justify-content: start;
}
.tmg-video-notifiers-container .tmg-video-bwd-notifier.tmg-video-control-persist {
  left: -50%;
  justify-content: end;
}
.tmg-video-notifier.tmg-video-control-persist svg {
  scale: 1.25;
  margin-block-start: unset;
  margin-block-end: calc((var(--tmg-video-current-unit) / 2.25) + (var(--tmg-video-current-unit) / 4));
}
.tmg-video-container:is(.tmg-video-miniplayer, .tmg-video-floating-player, .tmg-video-mobile, [data-size-tier^="xx"]) .tmg-video-notifier.tmg-video-control-persist svg {
  scale: 1.5;
}
.tmg-media-container:is(.tmg-video-miniplayer, .tmg-video-floating-player, .tmg-video-mobile, [data-size-tier^="xx"]) .tmg-video-notifier.tmg-video-control-persist {
  padding-inline: 13%;
}
.tmg-video-notifier.tmg-video-control-persist::after {
  margin-block-start: calc((var(--tmg-video-current-unit) / 2.25) + (var(--tmg-video-current-unit) / 4));
  bottom: unset;
}
:is(.tmg-video-scrub-notifier span:last-child, [data-notify="fwd"] .tmg-video-fwd-notifier, .tmg-video-notifiers-container .tmg-video-fwd-notifier.tmg-video-control-persist) svg:nth-of-type(1),
:is(.tmg-video-scrub-notifier span:first-child, [data-notify="bwd"] .tmg-video-bwd-notifier, .tmg-video-notifiers-container .tmg-video-bwd-notifier.tmg-video-control-persist) svg:nth-of-type(3) {
  animation-name: tmg-arrow-1;
}
:is(.tmg-video-scrub-notifier span:last-child, [data-notify="fwd"] .tmg-video-fwd-notifier, .tmg-video-notifiers-container .tmg-video-fwd-notifier.tmg-video-control-persist) svg:nth-of-type(2),
:is(.tmg-video-scrub-notifier span:first-child, [data-notify="bwd"] .tmg-video-bwd-notifier, .tmg-video-notifiers-container .tmg-video-bwd-notifier.tmg-video-control-persist) svg:nth-of-type(2) {
  animation-name: tmg-arrow-2;
}
:is(.tmg-video-scrub-notifier span:last-child, [data-notify="fwd"] .tmg-video-fwd-notifier, .tmg-video-notifiers-container .tmg-video-fwd-notifier.tmg-video-control-persist) svg:nth-of-type(3),
:is(.tmg-video-scrub-notifier span:first-child, [data-notify="bwd"] .tmg-video-bwd-notifier, .tmg-video-notifiers-container .tmg-video-bwd-notifier.tmg-video-control-persist) svg:nth-of-type(1) {
  animation-name: tmg-arrow-3;
}
